.DS_Store
credentials.json
**/packer_cache
**/pkr
**/vsphere.pkrvars.hcl
**/isos
**/credentials*
**/.envrc
**/.env
**/packer_manifest.json
**/manifest.txt
**/manifest.json
**/*.iso
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/exports
**/credentials.tf